*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}
html,body{
	height:100%;
	width:100%;
}
#main{
	min-height:100vh;
	width:100%;
}
#page1{
	min-height:70vh;
	width:100%;
	position:relative;
	padding-top:16vw;
	padding-left:2vw;
	padding-right:2vw;
}
#page1 h1{
	font-family:futura;
	letter-spacing:-0.5vw;
	line-height:14vw;
	font-size:15vw;
	font-weight:bold;
}
#page1 #video-cont{
	height:100vh;
	width:100%;
	position:relative;
}
#page1 #video-cont video{
	height:100%;
	width:100%;
	object-fit:cover;
	position:relative;
	z-index:2;
}
#page1 #play{
	height:8vw;
	width:8vw;
	border:none;
	border-radius:50%;
	background-color:black;
	color:white;
	position:absolute;
	z-index:3;
	display:none;
	justify-content:center;
	align-items:center;
	transform:translate(-50%,-50%);
}
#page1 #play h1{
	font-size:2vw;
	letter-spacing:0.2vw;
	font-family:futura;
}
#divider-cont{
	height:2vw;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
}
#divider{
	margin-top:2vw;
	height:1.5vw;
	width:95%;
	border-bottom:1px solid #414141;
	display:flex;
	justify-content:space-between;
	align-items:center;
}
#page2{
	margin-top:3vw;
	width:100%;
	display:flex;
	align-items:center;
	justify-content:space-evenly;
	min-height:100vh;
}
#page2 .elem{
	height:100%;
	width:30%;
	background-color:red;
	overflow:hidden;
	position:relative;
	display:flex;
	justify-content:center;
	align-items:center;
}

#page2 .elem img{
	height:100%;
	width:100%;
	object-fit:cover;
	scale:1.3;
}
#page2 .elem .inside-img{
	height:50px;
	width:250px;
	border-radius:50px;
	position:absolute;
	background-color:pink;
	z-index:999;
	transition:all 0.5s;
	
}
#page2 .elem .inside-img:hover{
	padding-bottom:15vw;
	transition:all 0.5s;
}
#page3{
	min-height:100vh;
	width:100%;
	padding:2vw 5vw;
	display:flex;
	align-items:center;
	justify-content:space-evenly;
	flex-wrap:wrap;
	gap:2vw;
	background-color:#f7f7f7;
	position:relative;
}
#page3 .child{
	height:58vh;
	width:35%;
	display:flex;
	align-items:center;
	justify-content:center;
	position:relative;
}
#page3 .child img{
	height:100%;
	position:relative;
	z-index:1;
}
.hover-effect{
	z-index:10000;
	height:180px;
	width:180px;
	border-radius:50%;
	border:none;
	position:fixed;
	background-color:#919191;
	transform:translate(-50%,-50%) scale(0);
}
#nav{
	height:17vh;
	width:100%;
	background-color:transparent;
	display:flex;
	padding:0.5vw 1vw;
	align-items:center;
	overflow:hidden;
	justify-content:space-between;
	position:fixed;
	z-index:999999;
}
#nav #logo-sec{
	height:15.5vh;
	overflow:hidden;
	width:9vw;
	padding:1vw 1vw;
}
#nav #logo-sec svg{
	display:block;
	margin-bottom:1vw;
}
#nav-part2{
	height:100%;
	display:flex;
	align-items:flex-start;
	width:49%;
}
#nav-part2 #nav-compo{
	height:100%;
	display:flex;
	width:100%;
	align-items:flex-start;
	justify-content:flex-end;
	gap:4.5vw;
	padding:1vw 0.5vw;
}
#nav-part2 #nav-compo #icons-cont{
	display:flex;
	height:5vh;
	width:9.5vw;
	background-color:#fff;
	border-radius:20px;
	align-items:center;
	padding:0 1vw;
	justify-content:space-between;
}
#nav-part2 #nav-compo li{
	list-style:none;
}
#nav-part2 #nav-compo li a svg{
	height:2.2vh;
	margin-left:0.3vw;
}
#nav-part2 #nav-compo li a{
	text-decoration:none;
	color:#000;
	font-size:1vw;
	text-transform:uppercase;
	font-weight:100;
	margin-right:0.1vw;
}
#nav-part2 #nav-compo li a span{
	border-top:1px solid black;
	border-bottom:1px solid black;
	height:1.5vh;
	width:2vw;
	display:inline-block;
}
#links{
	display:flex;
	height:100%;
	width:100%;
	justify-content:space-evenly;
}
@media (max-width:900px){
	#nav{
		height:10vh;
	}
	#nav-part1{
		height: 100%;
		width: 40%;
		overflow: hidden;
	}
	#nav-part1 #logo-sec{
		height:14vh;
		overflow: hidden;
		width: 100%;
		padding: 1vw 1vw;
	}
	#nav-part1 #logo-sec svg{
		display: block;
		margin-bottom: 5vw;
		height: 67%;
	}
	#links{
		display:none;
		height:100%;
		width:100%;
		justify-content:space-evenly;
		opacity:0;
	}
	#nav-part2 #nav-compo #icons-cont{
		display:flex;
		height:5vh;
		width:50%;
		background-color:#f7f7f7;
		border-radius:20px;
		align-items:center;
		justify-content:space-between;
		padding:0 1.2vh;
	}
	#nav-part2 #nav-compo li a span{
		border-top:1px solid black;
		border-bottom:1px solid black;
		height:1vh;
		width:4vw;
		display:inline-block;
	}
	#page1{
		padding-top:35vw;
		padding-right: 5vw;
		padding-left: 5vw;
		min-height:52vh;
	}
	#page1 h1{
		font-size:15vw;
		letter-spacing:-1vw;
		line-height:8vw;
	}
	#page1 #video-cont{
		height:25vh;
		margin-top:3vw;
	}
	#divider-cont{
		height:5vw;
		margin-top:2vh;
		margin-bottom:2vh;
	}
	#divider-cont #divider{
		height:3.5vw;
		margin-top:0;
	}
	#divider-cont #divider span{
		font-size:3vw;
	}
#page2{
	min-height:100vh;
	margin-top:3vw;
	width:100%;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:space-evenly;
	padding:0 5vw;
}
#page2 .elem{
	height:80vh;
	width:100%;
	margin-bottom:2vw;
}
#page2 .elem img{
	height:100%;
	width:100%;
	object-fit:cover;
	scale:1.3;
}
#page3{
	min-height:100vh;
	width:100%;
	padding:2vw 5vw;
	display:flex;
	align-items:center;
	justify-content:space-evenly;
	flex-wrap:wrap;
	flex-direction:column;
	gap:2vw;
	background-color:#f7f7f7;
	position:relative;
}
}